# general
# ------------------------------------------------------------------------------
jupyterlab==3.2.4
pandas==1.2.4
matplotlib==3.4.2
plotly==5.3.1
seaborn

# challenge 1
# ------------------------------------------------------------------------------
SALib==1.4.5
swmmio==0.4.8


# challenge 2
# ------------------------------------------------------------------------------



# challenge 3
# ------------------------------------------------------------------------------



# challenge 4
# ------------------------------------------------------------------------------

