# general
# ------------------------------------------------------------------------------
jupyterlab==3.2.4
pandas==1.2.4
matplotlib==3.4.2
plotly==5.3.1
seaborn

# Flood the SWMM
# ------------------------------------------------------------------------------
SALib==1.4.5
swmmio==0.4.8


# Resilient Edge
# ------------------------------------------------------------------------------
leafsim
pybamm


# Traffic Monitoring
# ------------------------------------------------------------------------------
pyzmq==22.3.0

# Hydro Privacy
# ------------------------------------------------------------------------------
# This challenge has its own requirements.txt
